- board = @game.boards.find_by(owner: 'Computer')
.show
  .row
    .col-md-6
      %h1 Computer
      %table.grid
        - Board.unflat_grid.each do |row|
          %tr
            - row.each do |space|
              - space = space.join('')
              -# html_class = 'boat' if space.in?(board.current_occupied_spaces)
              - html_class = 'hit' if space.in?(board.hit_spaces)
              - html_class = 'guessed' if space.in? board.guessed_spaces
              %td.space{class: html_class}
                - guess = space
                = link_to guess, guess_game_path(@game, guess: guess), class: 'fire', method: :post

    - human_board = @game.boards.find_by owner: 'Human'
    .col-md-6
      %h1 YOUR BOARD
      %table.grid
        - Board.unflat_grid.each do |row|
          %tr
            - row.each do |space|
              - space = space.join ''
              - html_class = 'boat' if space.in?(human_board.current_occupied_spaces)
              - html_class = 'hit' if space.in?(human_board.hit_spaces)
              - html_class = 'guessed' if space.in? human_board.guessed_spaces
              %td.space{class: html_class}
                = link_to space, guess_game_path(@game), method: :post
