table.grid {
  float: left;

  tr.row {
  }
  td {
    padding: 10px;
  }
  a {
    height: 100%;
    width: 100%;
  }
}

td.boat {
  background-color: #999;
}

td.guessed {
  background-color: #f0f0f0;
}

td.hit {
  background-color: red;
}
