button.space {
  height: 30px;
  width: 40px;
  text-align: center;
  padding: 0;
}

table.grid {
  float: left;

  tr.row {
  }
  td {
    padding: 2px;
  }
  a {
    height: 100%;
    width: 100%;
  }
}

td.boat button.space {
  background-color: #999;
}

td.guessed button.space {
  background-color: #f0f0f0;
}

td.hit button.space {
  background-color: red;
}

table.human .btn {
  cursor: default;
}
